@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.alert {
  position: absolute;
  top: 20px;
  right: -400px;
  transition: 1s;

  &.slide {
    transition: 1s;
    right: 10px;
  }
}